h1 {
  margin: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  align-items: center;
  background-color: rgb(228, 208, 208);
  border-radius: 5rem;
  margin: 4rem auto;
  padding: 1.5rem;
}
.code {
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
  width: fit-content;
  background-color: rgb(58, 48, 48);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #ddd;
}
.code::before {
  content: "|";
  color: red;
  font-weight: bolder;
  font-size: 2.5rem;
}
.main-footer{
  font-size: 2rem;
  margin: 1rem;
}